<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <springProperty name="fileDir" source="spring.application.name" defaultValue="account-dist"/>
    <springProperty name="profile" source="spring.profiles.active" defaultValue="dev"/>
    <property name="logPath" value="/tmp/logs/${fileDir}/${profile}"/>

    <appender name="stdoutAppender" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] %logger{80} %line %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- logstash json 格式日志文件输出 -->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${fileDir}-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="com.leonzhangxf" additivity="false">
        <level value="info"/>
        <appender-ref ref="stdoutAppender"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <root>
        <level value="info"/>
        <appender-ref ref="stdoutAppender"/>
        <appender-ref ref="fileAppender"/>
    </root>
</configuration>
